.containerDrinks{
  height: 200vh;
  background-image: url('../images/beers.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .contentBeers{
    height: 50%;
    border-bottom: 1px solid red;
    .imgLogo{
      height: 60%;
      position: relative;
      top:20%;
    }
    .imgDivide{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 15%;
    }
  }
  .contentDrinks{
    position: relative;
    height: 50%;
    .imgDrinks{
      position: relative;
      margin-top: 8%;
      height: 60%;
    }
    .titleSection{
      display: block;
    }
  }
}