.containerCover{
  .coverContent{
    background-image: url('../images/video-placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 101.5%;
    width: 100%;
  }
}
